body {
    background-color: yellow;
}

img {
    border: 25px solid;
    border-color: yellow;
    width: 200px;
    height: auto;
    float: left;
}

h1 {
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}